@tailwind base;
@tailwind components;
@tailwind utilities;


.overflow-x-auto .overflow-hidden {
    overflow: unset;
}

@media (min-width: 0px) and (max-width: 767px){
    .single-head{
font-size: 18px;
    line-height: 22px;
    padding-right: 16px;
}
.image-p{
    min-width: 80px;
    height: 80px;
}
.act-flex{
        flex-direction: column;
    align-items: end;
    gap: 6px;
}
.del{
    width: 36px;
}
.ad-ast{
    white-space: nowrap;
}

.site-h,
.site-p,
.trans-h{
    text-align: center;
}
.site-p{
    margin-bottom: 2rem;
}
.j-start{
    justify-content: start !important;
}
.h-scroll{
    max-height:350px;
    overflow-y: auto;
}

} 
.site-l{
           width: 100%;
        justify-content: space-between;
        padding: 4px 8px 12px;
        border-bottom: 1px solid #cccccc80;
}
.h-scroll{
    max-height: clamp(100px, 81vh, 50rem);
    overflow-y: auto;
}
.h-60vh{
    height:60vh !important;
}